html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    background-color: #2F4F30;
}

.titulo{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 25px;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
    height: 240px;
}